  
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
		
		<title>WrappIt</title>
		
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://kit.fontawesome.com/941444bb10.js" crossorigin="anonymous"></script>
		<script src="/assets/js/wrappit.js"></script>
	</head>
	
	<body>
		{{{ body }}}
	</body>

</html>