  
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap" rel="stylesheet">
		<!-- UIkit CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.10/dist/css/uikit.min.css" />
		<!-- Own stylings -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		
		<title>WrappIt</title>
	</head>
	
	<body>
		{{{ body }}}
	</body>

</html>