<div class="container">

  <div class="mx-auto" style="width:300px">
      <img src="assets/hiclipart.com.png"/>
  </div>

  <br>

  <header class="jumbotron">
    <h1 class="display-4">WrappIt</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

    <style>
        .jumbotron {
            background: url("./public/assets/Holiday-background.jpg") center center / cover no-repeat;
        }
    </style>

  </header>

    <button type="button" class="btn btn-secondary btn-lg">Start Your Perfect Gift</button>



  <div class="row" style="padding-top: 50px">
    <div class="col-12"> 
      <div class="addBurger">
        <h1 class="text-center">Add a burger:</h1>
      </div>
      <br>
        <form class="create-form">
          <div class="form-row align-items-center">
            <div class="col-6 offset-3">
              <input class="form-control" type="text" id="burger-name-input" placeholder="Enter Burger Name">
            </div>
            <div class="col-auto">
              <button type="submit" id="burger-submit" class="btn btn-danger">Add Burger</button>
            </div>
          </div>
        </form>
    </div>
  </div>
