body {
    padding: 0;
  }
  
  .example {
    overflow: hidden;
  }
  .example > div {
    transition: all 0.5s ease;
  }
  .example > div:hover {
    transform: scale(1.2)
  }

.uk-navbar-item {
    font-family: 'Handlee', cursive;
    font-size: 50px;
}

h1 {
  font-family: 'Handlee', cursive;
}

h2 {
    font-family: 'Handlee', cursive;
}

#results-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.results-div {
  text-align: left;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.book-cover {
  width: 150px;
}

.movie-cover {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.makeup-cover {
  width: 150px;
}

.bookInfo, .movieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.movieInfo {
  margin: 0;
}

.bookDesc, .movieDesc {
  width: 200px;
  text-align: left;
  padding: 15px 0px;
}