body {
    padding: 0;
  }
  
  .example {
    overflow: hidden;
  }
  .example > div {
    transition: all 0.5s ease;
  }
  .example > div:hover {
    transform: scale(1.2)
  }

.uk-navbar-item {
    font-family: 'Handlee', cursive;
    font-size: 50px;
}

.uk-navbar-container {
  box-shadow: 2px 2px 16px 2px lightgray;
  background-color: whitesmoke;
}

.uk-logo {
  margin-top: 5px;
  text-shadow: 2px 2px 8px lightgray;
}

.fa-carrot {
  margin-top: -15px;
}

button#about {
  margin-right: 15px;
  box-shadow: 2px 2px 8px 4px lightgray;
  text-shadow: 1px 1px 36px darkslategray;
}

.uk-button {
  border-radius: 5px;
}

h1 {
  font-family: 'Handlee', cursive;
}

h2 {
    font-family: 'Handlee', cursive;
}

#results-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.results-div {
  text-align: left;
}

.book {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.book-cover {
  width: 150px;
}

.movie-cover {
  width: 250px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.makeup-cover {
  width: 150px;
}

.bookInfo, .movieInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

.movieInfo {
  margin: 0;
}

.bookDesc, .movieDesc {
  width: 200px;
  text-align: left;
  padding: 15px 0px;
}

/* Saved Gifts page */

.hbs-container {
  background: url("/assets/snowflake-tile.jpg");
  background-size: repeat;
  background-color: rgba(245, 245, 245, 1)
}

#saved-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hbs-heading {
  flex: 0 1 50%;
  color: darkslategray;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.9); 
  box-shadow: 2px 2px 4px 8px rgba(245, 245, 245, 0.9);
  text-shadow: 3px 3px 10px lightslategray;
}

.uk-form-label {
  margin-left: 50px;
}

.uk-input {
  width: 300px;
}

#resultFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hbs-results {
  flex: 0 1 auto;
  margin-top: 25px;
  width: 50%;
  font-size: 20px;
}

.uk-card-body {
  background-color: rgba(245, 245, 245, 0.9);
  font-weight: bold;
  margin-top: 3px;
  min-width: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 8px rgba(245, 245, 245, 0.9); 
  text-shadow: 1px 1px 14px lightslategray;
}

.gift-info p {
  font-weight: lighter;
}

button.delGift {
  border-radius: 5px;
  box-shadow: 1px 1px 3px 3px rgba(233, 84, 84, 1);
  text-shadow: 1px 1px 12px whitesmoke;
}